#container {
	width: 482px;
	margin: auto;
}

body {
	background-image: url(images/bg.png);
	font-family:Arial, Helvetica, sans-serif;
}

a {
	color: #6ca1e4;
	text-decoration: none;
}

a:hover {
	text-shadow: 0 0 2px #CCC;
}

h1 {
	font-size: 30px;
	color: #464646;
}

h2 {
	font-size: 18px;
	color: #464646;
}

.seperator {
	background-image:url(images/seperator.png);
	background-repeat:no-repeat;
	width: 480px;
	height: 1px;
	padding-top: 8px;
}

.account{
	float: left;
}

#accounts {
	position: relative;
}

.or-absolute {
	position: absolute; top: 100px; left: 221px;
	display: block;
	width: 41px;
	height: 30px;
}

.sky-ninja {
	display: block;
	width: 241px;
	height: 241px;
	background:url(images/sky-ninja.png) bottom;
	text-indent: -99999px;
}

.sky-ninja:hover {
	background-position: 0 -241px;
}

.kill-yourself {
	display: block;
	width: 241px;
	height: 241px;
	background:url(images/kill-yourself.png) bottom;
	text-indent: -99999px;
}

.kill-yourself:hover {
	background-position: 0 -241px;
}

.support {
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.info-bg {
	background: url(images/info-bg.png);
	background-repeat: no-repeat;
	height: 46px;
	width: 449px;
	border: none;
	padding-left: 10px;
	padding-right: 31px;
	margin-bottom: 20px
}

.sign-in {
	display: block;
	width: 482px;
	height: 89px;
	background:url(images/sign-in.png) bottom;
	text-indent: -99999px;
}

.sign-in:hover {
	background-position: 0 0;
}
	
.sky-ninja.selected {
	background-position: 0 0;
}

.kill-yourself.selected {
	background-position: 0 0;
}